<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'login/css/login.css' %}">
    <!-- 전체 창 -->

        <!-- 가운데 로그인 div -->
        <div class="login_page_1">
            <div class="login_page_2">L O G I N</div>
            <div class="login_page_3">
                <form action="login_try/" method="POST" id="login_form"> {% csrf_token %}
                    <input type="text" name = "user_id" id = "user_id" placeholder="아이디를 입력하세요">
                    <input type="password" name = "user_pw" id = "user_pw" placeholder="비밀번호를 입력하세요">                  
                </form> 
            </div>
            <button class="login_page_4" type="submit" form="login_form" ><b>L O G I N</b></button>
            </div>
        </div>
 
</body>
</html>