<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <h1>검색결과 페이지</h1>
  <h2>{{search_keyword}}에 대한 검색결과입니다~</h2>
  <div class="product_name_search_result">
    <h3>상품명 검색 결과</h3>
    {{product_name_search_result}}


  </div>
  <div class="category_search_result">
    <h3>카테고리 검색 결과</h3>
    {{category_search_result}}


  </div>
  <div class="color_search_result">
    <h3>색상 검색 결과</h3>
    {{color_search_result}}


  </div>
  <div class="product_id_search_result">
    <h3>상품번호 검색 결과</h3>
    {{product_id_search_result}}




  </div>





</div>
</body>
</html>