* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


a {
    text-decoration-line: none;
    color: #745f5f;
    font-weight: 700;
}

.top_menu_bar {
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
    border-bottom: 5px solid #c0bdbd;
    z-index: 1;
    background-color: antiquewhite;

}

.login_menu_wrap {
    position: absolute;
    top: 20px;
    right: 150px;
    background-color: antiquewhite;
}

.category_wrap{
    background-color: antiquewhite;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 65px;
}

.category ul li {
    float: left;
    font-size: 25px;
    padding-right: 50px;
    margin-right: 50px;
    border-right: 5px dotted #c0bdbd;
}

.category ul :hover {
    color: #a49797;
}

.category ul :active {
    color: black;
}

.detail_view{
    position: absolute;
    top: 160px;
    left: 25%;
    width: 50%;
    height: 800px;


}

.img_crop {
    position: absolute;

    height: 100%;
    width: 50%;
    overflow: hidden;
}

.product_txt {
    position: absolute;
    top: 1%;
    right: 0;
    width: 44%;
    height: 98%;
    border: 3px solid #c0bdbd;
    border-radius: 30px;
    padding: 2%;
    font-size: 90%;
    color: #745f5f;

}

.product_name_price {
    position: relative;
    width: 93%;
    padding: 3%;
    border: 2px dotted #c0bdbd;
    border-radius: 20px;

}

.order {
    position: relative;
    margin-top: 2%;
    width: 93%;
    padding: 3%;
    border: 2px dotted #c0bdbd;
    border-radius: 20px;
}

.btn_wrap{

    position: absolute;
    top: 10%; right: 5%;
    width: 50%;
    height: 80%;
}

.btn_wrap button{

    background-color: antiquewhite;
    border: 2px dotted #828080;
    border-radius: 5px;


}

#add_to_cart_btn{
    width: 47%;
    height: 100%;
    position: absolute;

}

#buy_btn{
    width: 47%;
    position: absolute;
    right: 0;
    height: 100%;

}

div[class*=add_order]{

    width: 93%;
    border: 2px dotted #c0bdbd;
    margin-top: 2%;
    font-weight: 600;
    padding: 3%;
    border-radius: 12px;

}


div[class*=add_order] .order_amount{

    width: 10%; 
    position: absolute;
    left: 50%;


}